<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
         
     <servlet>
    	<servlet-name>insertKobo</servlet-name>
    	<servlet-class>com.kobo.insertKoboServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>insertKobo</servlet-name>
    	<url-pattern>/koIn</url-pattern>
    </servlet-mapping>     
    
    <servlet>
	     <servlet-name>updateKobo</servlet-name>
	     <servlet-class>com.kobo.updateKoboServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
        <servlet-name>updateKobo</servlet-name>
        <url-pattern>/updateKobo</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
	     <servlet-name>deleteKobo</servlet-name>
	    <servlet-class>com.kobo.deleteKoboServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
        <servlet-name>deleteKobo</servlet-name>
        <url-pattern>/deleteKobo</url-pattern>
  	</servlet-mapping>
         
    <servlet>
	     <servlet-name>Search</servlet-name>
	    <servlet-class>com.kobo.searchServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
 	 </servlet-mapping>
  
      <servlet>
	     <servlet-name>Report</servlet-name>
	    <servlet-class>com.kobo.koboReportServlet</servlet-class>
  	</servlet>
  
 	 <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Kreport</url-pattern>
 	 </servlet-mapping>
     
 </web-app>